#######################################################################################
# SETUP ENVIRONMENT VARIABLES
#
# This file is used to set environment variables for the project.
# You can use .env files to set environment variables for your local development environment.
# For given environement, create a .env.[environement] file and set the variables there.
# Example: .env.development, .env.production
#
# To learn more about the environment variables, see:
# https://nodejs.org/en/learn/command-line/how-to-read-environment-variables-from-nodejs
#   
# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you add secrets to this file, you should add the key to the .gitignore file.
#######################################################################################

#######################################################################################
# App
#######################################################################################

PORT=3100
CLIENT_URL=https://example.com
BACKEND_URL=http://back.example.com
DOMAIN=example.com

#######################################################################################
# MongoDB
#######################################################################################

DB_ID=intlayer-backend-dev
DB_MDP=
DB_CLUSTER=

#######################################################################
# Better auth
#######################################################################

AUTH_SECRET=

#######################################################################################
# Github auth
#######################################################################################

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

#######################################################################################
# Google auth
#######################################################################################

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#######################################################################################
# LinkedIn auth
#######################################################################################

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

#######################################################################################
# Resend
#######################################################################################

RESEND_API_KEY=

#######################################################################################
# Stripe
#######################################################################################

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_PREMIUM_YEARLY_PRICE_ID=
STRIPE_PREMIUM_MONTHLY_PRICE_ID=
STRIPE_ENTERPRISE_YEARLY_PRICE_ID=
STRIPE_ENTERPRISE_MONTHLY_PRICE_ID=

#######################################################################################
# Index chatbot embeddings for chatbot (save time when start backend)
#######################################################################################

SKIP_DOC_EMBEDDINGS_INDEX=false

#######################################################################################
# Open AI
#######################################################################################

OPENAI_API_KEY=

#######################################################################################
# Anthropic (Claude)
#######################################################################################

ANTHROPIC_API_KEY=

#######################################################################################
# Google Gemini
#######################################################################################

GOOGLE_API_KEY=

#######################################################################################
# Mistral
#######################################################################################

MISTRAL_API_KEY=

#######################################################################################
# DeepSeek
#######################################################################################

DEEPSEEK_API_KEY=
