#######################################################################################
# SETUP ENVIRONMENT VARIABLES
#
# This file is used to set environment variables for the project.
# You can use .env files to set environment variables for your local development environment.
# For given environement, create a .env.[environement] file and set the variables there.
# Example: .env.development, .env.production
#
# To learn more about the environment variables, see:
# https://nodejs.org/en/learn/command-line/how-to-read-environment-variables-from-nodejs
#   
# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you add secrets to this file, you should add the key to the .gitignore file.
#######################################################################################

#######################################################################################
# App
#######################################################################################

PORT=3100

#######################################################################################
# CORS restruction
#######################################################################################

CLIENT_URL=https://example.com
BACKEND_URL=http://back.example.com
DOMAIN=example.com

#######################################################################################
# MongoDB
#######################################################################################

DB_ID=database-id-example
DB_MDP=mdp-example
DB_CLUSTER=cluster0.example.mongodb.net

#######################################################################
# CSRF
#######################################################################

CSRF_SECRET=256-bit-secret-example

#######################################################################################
# JWT
#######################################################################################

JWT_TOKEN_SECRET=256-bit-secret-example

#######################################################################################
# Github auth
#######################################################################################

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

#######################################################################################
# Google auth
#######################################################################################

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
