@import 'tailwindcss';

@theme {
  --font-sans: 'Figtree Variable', sans-serif;

  --color-background: rgba(255, 255, 255);
  --color-background-opposite: rgba(18, 18, 18);

  --color-text: rgba(18, 18, 18);
  --color-text-opposite: rgba(255, 255, 255);
  --color-text-dark: rgba(255, 255, 255);
  --color-text-light: rgba(18, 18, 18);

  --color-card: rgba(231, 231, 231);
  --color-card-hover: rgba(231, 231, 231);

  --color-hypertext: rgba(232, 121, 249);
  --color-hypertext-hover: rgba(197, 101, 212);
  --color-hypertext-active: rgba(232, 121, 249);

  --color-shadow: rgba(18, 18, 18);

  --color-primary: rgba(232, 121, 249);
  --color-primary-50: rgba(254, 244, 255);
  --color-primary-100: rgba(252, 232, 255);
  --color-primary-200: rgba(248, 208, 254);
  --color-primary-300: rgba(241, 171, 252);
  --color-primary-400: rgba(232, 121, 249);
  --color-primary-500: rgba(197, 101, 212);
  --color-primary-600: rgba(163, 81, 175);
  --color-primary-700: rgba(128, 61, 139);
  --color-primary-800: rgba(93, 41, 102);
  --color-primary-900: rgba(59, 21, 65);
  --color-primary-950: rgba(24, 1, 28);

  --color-secondary: rgba(255, 230, 109);
  --color-secondary-50: rgba(254, 251, 232);
  --color-secondary-100: rgba(255, 246, 194);
  --color-secondary-200: rgba(255, 230, 109);
  --color-secondary-300: rgba(255, 216, 69);
  --color-secondary-400: rgba(252, 193, 19);
  --color-secondary-500: rgba(236, 168, 6);
  --color-secondary-600: rgba(204, 129, 2);
  --color-secondary-700: rgba(162, 90, 6);
  --color-secondary-800: rgba(134, 71, 13);
  --color-secondary-900: rgba(114, 58, 17);
  --color-secondary-950: rgba(67, 29, 5);

  --color-destructive: rgba(251, 125, 60);
  --color-destructive-50: rgba(255, 245, 237);
  --color-destructive-100: rgba(255, 232, 213);
  --color-destructive-200: rgba(254, 206, 170);
  --color-destructive-300: rgba(253, 171, 116);
  --color-destructive-400: rgba(251, 125, 60);
  --color-destructive-500: rgba(249, 90, 22);
  --color-destructive-600: rgba(234, 63, 12);
  --color-destructive-700: rgba(194, 45, 12);
  --color-destructive-800: rgba(154, 37, 18);
  --color-destructive-900: rgba(124, 33, 18);
  --color-destructive-950: rgba(67, 13, 7);

  --color-neutral: rgba(93, 93, 93);
  --color-neutral-50: rgba(246, 246, 246);
  --color-neutral-100: rgba(231, 231, 231);
  --color-neutral-200: rgba(209, 209, 209);
  --color-neutral-300: rgba(176, 176, 176);
  --color-neutral-400: rgba(136, 136, 136);
  --color-neutral-500: rgba(109, 109, 109);
  --color-neutral-600: rgba(93, 93, 93);
  --color-neutral-700: rgba(79, 79, 79);
  --color-neutral-800: rgba(69, 69, 69);
  --color-neutral-900: rgba(61, 61, 61);
  --color-neutral-950: rgba(48, 48, 48);

  --color-success: rgba(0, 204, 102);
  --color-success-50: rgba(254, 244, 255);
  --color-success-100: rgba(252, 232, 255);
  --color-success-200: rgba(248, 208, 254);
  --color-success-300: rgba(241, 171, 252);
  --color-success-400: rgba(232, 121, 249);
  --color-success-500: rgba(197, 101, 212);
  --color-success-600: rgba(163, 81, 175);
  --color-success-700: rgba(128, 61, 139);
  --color-success-800: rgba(93, 41, 102);
  --color-success-900: rgba(59, 21, 65);

  --color-warning: rgba(214, 153, 66);
  --color-warning-50: rgba(254, 251, 232);
  --color-warning-100: rgba(255, 246, 194);
  --color-warning-200: rgba(255, 230, 109);
  --color-warning-300: rgba(255, 216, 69);
  --color-warning-400: rgba(252, 193, 19);
  --color-warning-500: rgba(236, 168, 6);
  --color-warning-600: rgba(204, 129, 2);
  --color-warning-700: rgba(162, 90, 6);
  --color-warning-800: rgba(134, 71, 13);
  --color-warning-900: rgba(114, 58, 17);

  --color-error: rgba(181, 24, 13);
  --color-error-50: rgba(255, 245, 237);
  --color-error-100: rgba(255, 232, 213);
  --color-error-200: rgba(254, 206, 170);
  --color-error-300: rgba(253, 171, 116);
  --color-error-400: rgba(251, 125, 60);
  --color-error-500: rgba(249, 90, 22);
  --color-error-600: rgba(234, 63, 12);
  --color-error-700: rgba(194, 45, 12);
  --color-error-800: rgba(154, 37, 18);
  --color-error-900: rgba(124, 33, 18);

  --color-white: rgba(255, 255, 255);

  --color-black: rgba(0, 0, 0);

  --color-input-background: rgba(255, 255, 255);
  --color-input-text: rgba(18, 18, 18);
  --color-input-border: rgba(216, 216, 216);
  --color-input-border-hover: rgba(201, 201, 201);
  --color-input-border-focus: rgba(189, 189, 189);
  --color-input-border-disabled: rgba(255, 255, 255);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme='dark'] {
  --font-sans: 'Figtree Variable', sans-serif;

  --color-background: rgba(23, 23, 23);
  --color-background-opposite: rgba(255, 255, 255);

  --color-text: rgba(255, 245, 237);
  --color-text-opposite: rgba(18, 18, 18);

  --color-card: rgba(39, 39, 39);
  --color-card-hover: rgba(79, 79, 79);

  --color-hypertext: rgba(232, 121, 249);
  --color-hypertext-hover: rgba(197, 101, 212);
  --color-hypertext-active: rgba(232, 121, 249);

  --color-shadow: rgba(18, 18, 18);

  --color-primary: rgba(232, 121, 249);
  --color-secondary: rgba(255, 230, 109);
  --color-destructive: rgba(251, 125, 60);
  --color-neutral: rgba(93, 93, 93);

  --color-success: rgba(0, 204, 102);
  --color-warning: rgba(214, 153, 66);
  --color-error: rgba(181, 24, 13);

  --color-white: rgba(255, 255, 255);
  --color-black: rgba(0, 0, 0);

  --color-input-background: rgba(61, 61, 61);
  --color-input-text: rgba(246, 246, 246);
  --color-input-border: rgba(79, 79, 79);
  --color-input-border-hover: rgba(93, 93, 93);
  --color-input-border-focus: rgba(176, 176, 176);
  --color-input-border-disabled: rgba(61, 61, 61);
}

@plugin '@tailwindcss/aspect-ratio';
