@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

a {
  @apply text-blue-500 hover:underline;
}
