@import "tailwindcss";
@import "@intlayer/design-system/css";
@config "@intlayer/design-system/tailwind-config";

@source "./**/*.{ts,tsx}";
@source "../../../@intlayer/design-system/src/**/*.{ts,tsx}";

html {
  font-family: "Inter", sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter-VariableFont"), url("./assets/fonts/Inter-VariableFont.ttf");
  font-display: swap;
}
