#######################################################################################
# Routes                                                                              #
#######################################################################################

VITE_DOMAIN=localhost
VITE_SITE_URL=https://marketplace.intlayer.org
VITE_CMS_URL=https://app.intlayer.org
VITE_BACKEND_DOMAIN=back.intlayer.org
VITE_BACKEND_URL=https://back.intlayer.org
VITE_HOME_URL=https://intlayer.org

#######################################################################################
# App Options                                                                         #
#######################################################################################

VITE_ENABLE_SERVICE_WORKER=false

#######################################################################################
# OpenAI                                                                              #
#######################################################################################

OPENAI_API_KEY=

#######################################################################################
# Anthropic                                                                            #
#######################################################################################

ANTHROPIC_API_KEY=

#######################################################################################
# Google Tag Manager                                                                  #
#######################################################################################

VITE_GOOGLE_TAG_MANAGER_ID=

#######################################################################################
# Google Analytics                                                                    #
#######################################################################################

VITE_GOOGLE_ANALYTICS_ID=

#######################################################################################
# PostHog                                                                             #
#######################################################################################

VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=

#######################################################################################
# Ahrefs                                                                              #
#######################################################################################

VITE_AHREFS_KEY=

#######################################################################################
# Stripe                                                                              #
#######################################################################################

VITE_STRIPE_PUBLISHABLE_KEY=
