@import 'tailwindcss';
@import '@intlayer/design-system/css';
@config '@intlayer/design-system/tailwind-config';

@source "../src/**/*.{ts,tsx}";
@source "../../../../packages/@intlayer/design-system/src/**/*.{ts,tsx}";


@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--float-distance, 10px));
  }
}

.animate-float {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.animate-infinite-scroll {
  --gap: 1rem;
  --duration: 40s;
  animation: infinite-scroll var(--duration, 40s) linear infinite;
}

.animation-reverse {
	animation-direction: reverse;
}

.duration-fast {
  --duration: 20s;
}

.duration-medium {
  --duration: 50s;
}

.duration-slow {
  --duration: 85s;
}

.gap-small {
  --gap: 1rem;
}

.gap-medium {
  --gap: 2.5rem;
}

.gap-large {
  --gap: 4rem;
}