#######################################################################################
# Site                                                                                #
#######################################################################################

VITE_SITE_URL=
VITE_APP_URL=
VITE_BACKEND_URL=

#######################################################################################
# PostHog                                                                             #
#######################################################################################

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=